version: '3.8'
services:
  postgres-prod:
    image: postgres:latest
    container_name: postgres-prod
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: encryptionApp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: garaali
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  encryptionApp-prod:
    image: garaali/encryption_app_be:1.0.0
    container_name: encryptionApp-prod
    ports:
      - "8085:8085"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/encryptionApp
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=garaali
    depends_on:
      - postgres-prod
    networks:
      - app-network

  frontend-prod:
    build:
      context: .
    container_name: frontend
    ports:
      - "80:80" 
    networks:
      - app-network
    depends_on:
      - encryptionApp-prod

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
